.sidebar
 .sidebar__name
  .user 
   .user__name masa
  .option
   .option__edit
    = icon('far', 'edit')
   .option__cog
    = icon('fas', 'cog')

 .group
  .group__list
   .groupname techcamp
   .coment まだメッセージがありません
